.navbar {
  background-color: #222;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 24px;
}

.list a {
  color: #aaa;
  text-decoration: none;
}

.list a:hover {
  color: #ffbb33;
}